:root {
  --accent-color: #2196f3;
  --main-primary-color: #757575;
  --main-secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--main-primary-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__link,
.address__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  display: inline-block;
  color: var(--accent-color);
}

.logo__second-part {
  color: #000000;
}

.logo__second-part--dark {
  color: var(--secondary-accent-color);
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer__logo {
  margin-bottom: 20px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ------HEADER------ */
.header {
  background-color: var(--secondary-accent-color);
  border-bottom: 1px solid #ececec;
}

.header__container,
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: var(--main-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--active {
  position: relative;
  color: var(--accent-color);
}

.navigation__link--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address__item {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  align-items: center;
  color: var(--main-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
  margin-right: 30px;
}

.address__item:hover, .address__item:focus {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ------END HEADER------ */
/* ------PORTFOLIO MAIN------ */
.portfolio {
  background-color: var(--secondary-accent-color);
}

.portfolio__description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-secondary-color);
}

.portfolio__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  margin-bottom: 34px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.buttons__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--main-secondary-color);
  background-color: var(--third-background-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__btn:not(:last-child) {
  margin-right: 8px;
}

.buttons__btn:hover, .buttons__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  color: inherit;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: var(--secondary-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__text,
.portfolio__link:focus .portfolio__text {
  transform: translateY(0%);
}

/* ------ END PORTFOLIO MAIN------ */
/* ------FOOTER------ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer__join {
  margin-right: 93px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.footer__contacts {
  margin-right: 83px;
}

.footer__social-list {
  width: 206px;
}

.contacts__text, .contacts__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-accent-color);
}

.contacts__text:not(:last-child), .contacts__link:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.contacts__address {
  display: flex;
  flex-direction: column;
}

.join__text,
.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

.social-list__icon--fill {
  fill: currentColor;
}

.social-list__link--footer {
  color: var(--secondary-accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--footer:hover, .social-list__link--footer:focus {
  background-color: var(--accent-color);
}

.subscription__form {
  display: flex;
}

.subscription__mail {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background-color);
}

.subscription__mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.submit {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.submit__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--secondary-accent-color);
}

/* ------END FOOTER------ */
/*# sourceMappingURL=portfolio.css.map */