/* ------HEADER------ */
.header {
  background-color: var(--secondary-accent-color);
  border-bottom: 1px solid #ececec;

  &__container {
    position: relative;
    background-color: var(--secondary-accent-color);

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.header__button {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: inline-flex;
  background-color: transparent;
  border: none;

  &:hover .header__icons,
  &:focus .header__icons {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    .header__icon-close {
      display: block;
    }
    .header__icon-menu {
      display: none;
    }
  }
}

.header__icon-close {
  display: none;
}

.header__mobile-menu {
  display: flex;
  align-items: center;
}

.header__menu {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-accent-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
      padding: 60px 0px;
      z-index: 999;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 88px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  padding-bottom: 12px;

  color: var(--main-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;
  }
}

.navigation__item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.navigation__list {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 0;
  }
}

.navigation__item--active {
  @media screen and (max-width: 767px) {
    padding-bottom: 12px;
  }
}

.navigation__link--active {
  position: relative;

  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);

    @media screen and (min-width: 768px) {
      transform: translateY(25%);
    }

    @media screen and (min-width: 1200px) {
      transform: translateY(50%);
    }
  }
}

.address {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.address__item {
  display: inline-flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  color: var(--main-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &__icon {
      margin-right: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
    &__icon {
      margin-right: 10px;
    }
  }
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}
