/* ------HEADER------ */
.header {
  background-color: var(--secondary-accent-color);
  border-bottom: 1px solid #ececec;
}

.header__container,
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;

  color: var(--main-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link--active {
  position: relative;

  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);

    content: "";
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.address__item {
  padding-top: 32px;
  padding-bottom: 32px;

  display: inline-flex;
  align-items: center;

  color: var(--main-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address {
  margin-left: auto;

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
/* ------END HEADER------ */
