.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  /*font-size: 26px;
  line-height: 1.192;*/
  display: inline-block;

  color: var(--accent-color);

  &__second-part {
    color: #000000;
  }

  &__second-part--dark {
    color: var(--secondary-accent-color);
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  /*margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;*/
}

.footer__logo {
  margin-bottom: 20px;
}
