/* ------OUR WORKS------ */
.works {
  background-color: var(--background-color);
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__thumb {
    position: relative;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-accent-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
/* ------END OUR WORKS------ */
