:root {
  --accent-color: #2196f3;
  --main-primary-color: #757575;
  --main-secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
